# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.db
*.sqlite3
venv/
.venv/

# Node
node_modules/
frontend/dist/
miniprogram/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Build
dist/
build/
